<template name="information">
  {{#contentFor "headerTitle"}}
    <h1 class="title">Information</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

      <img src="http://austintexas.gov/sites/default/files/files/Communications/Web_Content/2014/SKYLINE_06.png" alt="City of Austin" />
      <div class="about-text">
        <h3>About Austin</h3>
        <p>Located in Central Texas on the eastern edge of the American Southwest, Austin is the capital of the state of Texas, the Lone Star State. The city dates back to the 1830s, when the first Anglo-American settlers arrived in the area, then part of Mexico. In 1837, settlers founded the village of Waterloo on the banks of the Colorado River, the first permanent settlement in the area. By 1839, Waterloo would adopt the name Austin and the frontier town would become the capital of the Republic of Texas. The City is named for Stephen F. Austin, the “Father of Texas.”

        </p>

        <h4> Demographics </h4>
        <p>
          Austin is in Travis, Hays and Williamson counties. With a population of 820,611 (2011 U.S. Census), it's the 13th most populous city in the United States; the fourth most populous city in Texas. Learn more about Austin's demographics.
        </p>

        <h4>Climate</h4>
        Austin’s mild climate allows you to enjoy outdoor activities virtually year round. Austin has 300 days of sunshine a year and an average temperature of 71 degrees in November.

        <h4>Why Austin?  </h4>
        <p>
          Austin is an incredible place to live, work, play and invest, and it's easy to see why. Since 2011, Austin has received more than 50 local and national rankings. And there are so many things to do here! For more information on what makes our city so unique, be sure to visit the Austin Convention and Visitors Bureau website.
        </p>

        <h4>For More Information </h4>
        <p>
          If you don't see what you're looking for, use the search bar above or let us know what you were looking for on this page.
        </p>
      </div>

    {{/ionContent}}
  {{/ionView}}
</template>

