<template name="services">
  {{#contentFor "headerTitle"}}
    <h1 class="title">Services</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

      {{#if Template.subscriptionsReady}}

        {{#ionList}}

          {{#each services}}

            {{#ionItem iconRight=true}}

              <h2>{{title}}</h2>
              <p> {{phone}} </p>
              {{> ionIcon icon="ios-arrow-right"}}

            {{/ionItem}}

          {{/each}}

        {{/ionList}}

      {{/if}}

    {{/ionContent}}
  {{/ionView}}
</template>

