<template name="_tabs">
{{#if isAndroid}}
  {{#ionTabs style="android" class="tabs-background-positive tabs-color-light"}}
    {{> ionTab title="News" path="home" icon="android-home"}}
    {{> ionTab title="Events" path="events" icon="android-calendar"}}
    {{> ionTab title="Services" path="services" icon="heart"}}
    {{> ionTab title="Information" path="information" icon="help-circled"}}
  {{/ionTabs}}
{{else}}
  {{#ionTabs style="ios"}}
    {{> ionTab title="News" path="home" iconOff="ios-home-outline" iconOn="ios-home"}}
    {{> ionTab title="Events" path="events" iconOff="ios-calendar-outline" iconOn="ios-calendar"}}
    {{> ionTab title="Services" path="services" iconOff="ios-heart-outline" iconOn="ios-heart"}}
    {{> ionTab title="Information" path="information" iconOff="ios-help-outline" iconOn="ios-help"}}
  {{/ionTabs}}
{{/if}}
</template>
